:host ::ng-deep iframe {
  width: 100% !important;
  height: 280px !important;
  border: none !important;
  border-radius: 7px !important;
}

/* :host {
    background-color: #eee;
    display: block;
  } */

:host ::ng-deep figure img {
  width: 100% !important;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #eee;
  width: 100%;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.img-comments {
  height: 1.875rem !important;
}

.text-sponsored {
  line-height: 18px !important;
}

.post-title {
  color: #393a4f;
}

.ad-block-detected {
  background-color: #ff2c33;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 25px;
}
