<div class="card is-post post-list">
  <div class="content-wrap">
    <div class="card-body">
      <ul class="o-vertical-spacing o-vertical-spacing--l">
        <li class="blog-post o-media">
          <div class="o-media__body">
            <div class="o-vertical-spacing">
              <h3 class="blog-post__headline">
                <span class="skeleton-box" style="width:55%;"></span>
              </h3>
              <p>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
                <span class="skeleton-box" style="width:90%;"></span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>