html,
body {

  font-family: 'Noto Sans TC', sans-serif;
  background-color: #fafafa;
  padding-top: 35px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=text],
input[type=email],
input[type=password],
button[type=button],
button[type=submit] {
  border-radius: 30px;
}
