<app-navigation></app-navigation>

<form class="form-signin mt-5" #form="ngForm" (ngSubmit)="requestForgotPassword(emailAddress)">
  <div class="text-center mb-4">
    <img class="mb-4 img-logo" src="../../../assets/images/thryoo-auth.png" alt="Thyroo">
    <div *ngIf="requestSent" class="alert alert-success alert-dismissible fade show text-sm text-500" role="alert">
      <strong>We have found you!</strong> We have sent an email. Please check out your inbox to recover your password.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="requestFailed" class="alert alert-danger alert-dismissible fade show text-sm text-500" role="alert">
      <strong>Geez!</strong> We could not complete your request, please check your email address or try later.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h4>
      <span class="text-500">First, let's find your account</span><br>
      <small><span class="text-500">Please enter your email</span></small>
    </h4>
  </div>

  <div class="form-label-group">
    <input type="email" id="emailAddress" [(ngModel)]="emailAddress" name="emailAddress" class="form-control" placeholder="Email address"
      required>
    <label for="inputEmail">Email address</label>
  </div>

  <button class="btn btn-lg btn-thyroo btn-block" [disabled]="!form.valid" type="submit">Find account</button>

  <p class="mt-5 mb-3 text-muted text-center">
    <small>&copy; 2020 Thyroo app. All rights reserved.</small>
    <app-help-links></app-help-links>
  </p>
</form>

<app-full-screen-loader *ngIf="loader"></app-full-screen-loader>
