<app-navigation></app-navigation>

<div class="container">
  <div class="row">
    <div class="m-2">
      <section>
        <div class="block">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-500 text-center">How Thyroo works</h1>
              <h2 class="text-center mb-5">Thryoo project is your perfect tool</h2>
              <div class="how-works">
                <div class="how-workimg"><img src="../../assets/images/thyoo/ht-sign-up.png" alt="" /></div>
                <div class="how-work-detail">
                  <div class="how-work-box">
                    <span>1</span>
                    <i class="la la-user"></i>
                    <h3>Create an account</h3>
                    <p class="mb-3">
                      Thyroo.com is <strong>totally for free</strong>, so you can create a new account today and start
                      growing your business, contacts, and let the business community know about and
                      your interests.
                    </p>
                    <a [routerLink]="['/auth/signup']" class="text-thyroo">
                      Sign up now
                    </a>
                  </div>
                </div>
              </div>
              <div class="how-works flip">
                <div class="how-workimg"><img src="../../assets/images/thyoo/ht-search.png" alt="" /></div>
                <div class="how-work-detail">
                  <div class="how-work-box">
                    <span>2</span>
                    <i class="la la-file-text"></i>
                    <h3>Connect only with people you're interested in</h3>
                    <p>
                      Connect with business people that are looking for people like you, and you connect with
                      people that are what you are looking for, as simple as that.
                      Let the community about your business, services, projects, ideas, and more.
                    </p>
                  </div>
                </div>
              </div>
              <div class="how-works">
                <div class="how-workimg"><img src="../../assets/images/thyoo/ht-connect.png" alt="" /></div>
                <div class="how-work-detail">
                  <div class="how-work-box">
                    <span>3</span>
                    <i class="la la-pencil"></i>
                    <h3>Get more customers for free</h3>
                    <p>
                      Get more customers by creating free ads, sharing interesting posts, articles, and connect with
                      business people through the biggest business community for free. This the time to make business
                      different.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>
