<app-navigation></app-navigation>

<form class="form-signin mt-5" [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
  <div class="text-center mb-4">
    <img class="mb-4 img-logo" src="../../../assets/images/thryoo-auth.png" alt="Thyroo">
    <h2>
      A step from success!
    </h2>
    <label class="text-500">
      <span>
        Create an account now and start making real your professional goals!
      </span>
    </label>
  </div>
  <div class="form-group">

    <div *ngIf="errorFlag" class="alert alert-danger alert-dismissible fade show text-sm text-500" role="alert">
      <strong>Something went wrong!</strong>
      It seems your email address already exists in our database, please try to <a class="text-thyroo"
        [routerLink]="['/auth/login']">log in</a>.
      If the problem keeps, please feel free to contact us.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div *ngIf="accountCreated" class="alert alert-success alert-dismissible fade show text-sm text-500" role="alert">
      <strong>Congrats!</strong>
      You have created your account successfully, please <a class="text-thyroo" [routerLink]="['/auth/login']">log
        in</a>
      to continue and start meeing business people. Good luck!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="row">
      <div class="col-md-6 pr-1">
        <div class="form-group">
          <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName"
            placeholder="First Name">
          <small class="text-danger"
            *ngIf="signUpForm.controls['firstName'].touched && signUpForm.controls['firstName'].hasError('required')">
            Enter your fist name
          </small>
        </div>
      </div>
      <div class="col-md-6 pl-1">
        <div class="form-group">
          <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName"
            placeholder="Last Name">
          <small class="text-danger"
            *ngIf="signUpForm.controls['lastName'].touched && signUpForm.controls['lastName'].hasError('required')">
            Enter your last name
          </small>
        </div>
      </div>
    </div>

    <input autocomplete="off" type="email" class="form-control" id="emailAddress" [pattern]="emailPattern"
      formControlName="emailAddress" name="emailAddress" placeholder="Enter email address">
    <small class="text-danger"
      *ngIf="signUpForm.controls['emailAddress'].touched && signUpForm.controls['emailAddress'].hasError('required')">
      Email address is required
    </small>
    <small class="text-danger" *ngIf="signUpForm.controls['emailAddress'].errors?.pattern">
      Enter a valid email address
    </small>
  </div>
  <!-- <div class="form-group">
    <input type="email" class="form-control" id="username" formControlName="username" name="username"
      placeholder="Username">
    <small class="text-danger"
      *ngIf="signUpForm.controls['username'].touched && signUpForm.controls['username'].hasError('required')">
      Enter an username
    </small>
  </div> -->

  <div class="form-group">
    <input type="password" class="form-control" id="password" formControlName="password" name="password"
      placeholder="Password">
    <small class="text-danger"
      *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].hasError('required')">
      Enter a valid password
    </small>
  </div>

  <div>
    <p class="text-muted ml-2 text-sm">
      By clicking Agree & Join, you agree to our <a class="text-thyroo" [routerLink]="['/legal/privacy-policy']"
        routerLinkActive="router-link-active" target="_blank">terms of service</a>
      and that you have read our <strong>Data Use Policy</strong>.
    </p>
  </div>
  <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-thyroo">
    <span class="mr-3 ml-3">Agree & Join</span>
  </button>
  <hr class="hr-text" data-content="or">
</form>

<form class="form-signin">
  <div class="text-center mt-2">
    <a (click)="signUpWithGoogle()" class="btn btn-lg btn-thyroo btn-block text-white">
      Continue with Google
      <i class="fab fa-google"></i>
    </a>
  </div>

  <div class="text-center">
    <a class="text-thyroo" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
      <small>Sign in your account</small>
    </a>
  </div>

  <p class="mt-5 mb-3 text-muted text-center">
    <small>&copy; 2020 Thyroo app. All rights reserved.</small>
    <app-help-links></app-help-links>
  </p>
</form>

<app-full-screen-loader *ngIf="loader"></app-full-screen-loader>
