<app-navigation></app-navigation>

<form class="form-signin mt-5" #form="ngForm" (ngSubmit)="updatePassword(newPassword)">
  <div class="text-center mb-4">
    <img class="mb-4 img-logo" src="../../../assets/images/thryoo-auth.png" alt="Thyroo">
    <div *ngIf="requestSent" class="alert alert-success alert-dismissible fade show text-sm text-500" role="alert">
      <strong>Great!</strong> You have successfully updated your password, you can log in now using your new password.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="requestFailed" class="alert alert-danger alert-dismissible fade show text-sm text-500" role="alert">
      <strong>Geez!</strong> We could not complete your request, please check your email address or try later. Maybe
      your token has expired or you have no permissions. If you think this is an error please contact us for more
      information.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h4>
      <span class="text-500">Update your password</span><br>
      <small>
        Once you update your password, this link will be useless.
      </small>
    </h4>
  </div>

  <div class="form-label-group">
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control"
      placeholder="Email address" required>
    <label for="inputEmail">New password</label>
  </div>

  <button class="btn btn-lg btn-thyroo btn-block" [disabled]="!form.valid" type="submit">Update my password</button>

  <div class="text-center">
    <a class="text-thyroo" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
      <small>Access your account</small>
    </a><br>
  </div>

  <p class="mt-5 mb-3 text-muted text-center">
    <small>&copy; 2020 Thyroo app. All rights reserved.</small>
    <app-help-links></app-help-links>
  </p>
</form>

<!-- <app-full-screen-loader *ngIf="loader"></app-full-screen-loader> -->
