<app-feed-skeleton *ngIf="skeleton"></app-feed-skeleton>
<div *ngIf="postList">
  <div *ngIf="postList.length == 0">
    <div class="text-center mt-5 text-muted">
      <h1>
        <i class="far fa-clipboard"></i>
      </h1>
      <h4>
        No posts yet<br>
        <small>
          To add your first post, click
          <a [routerLink]="['/feed']" class="text-thyroo">here</a>
        </small>
      </h4>
    </div>
  </div>
  <div class="card mb-2" *ngFor="let item of postList; let i = index">
    <div class="card is-post post-list">
      <div class="content-wrap">
        <div class="card-heading">
          <div class="dropdown is-spaced float-right">
            <div>
              <div class="button">
                <span class="ml-1" placement="left">
                  <a popover="Open this post to interact with" triggers="mouseenter:mouseleave" class="text-thyroo"
                    [routerLink]="['/feed/single/', item.id]">
                    <small>
                      <strong>
                        Open this post
                        <i class="fas fa-external-link-alt"></i>
                      </strong>
                    </small>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="user-block">
            <div class="image">
              <a [routerLink]="['/user/', item.user.id]">
                <img src="{{item.user.photoUrl}}" data-user-popover="1" class="border" alt="{{item.user.firstName}}">
              </a>
            </div>
            <div class="user-info">
              <a [routerLink]="['/user/', item.user.id]">
                {{item.user.providerFullName}} <app-verified-badge-sm *ngIf="item.user.verifiedAccount">
                </app-verified-badge-sm><br>
                <strong *ngIf="item.user.verifiedAccount">Trusted and verified user</strong>
              </a>
              <span class="time">
                Shared publicly - {{item.created | timeAgo}}
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="post-text">
            <div [innerHTML]="item.description"></div>
            <a [routerLink]="['/feed/topic/', item.category.id]" class="text-muted pointer mb-2">
              <div class="chip mb-2">
                <img src="{{item.category.photoUrl}}" alt="{{item.category.name}}" width="96" height="96"
                  class="border">
                {{item.category.name}}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="postList.length != 0" class="row justify-content-center align-items-center text-center">
  <button class="btn btn-sm btn-outline-dark mb-3 btn-rounded mt-2 align-self-center" (click)="loadMore()">
    <small class="mr-3 ml-3">
      <span>{{loadMoreMessage}}</span>
    </small>
  </button>
</div>
