.card-comments {
  background: #f8f9fa;
}

.card-comments .card-comment {
  border-bottom: 1px solid #e9ecef;
  padding: 8px 0;
}

.card-comments .card-comment::after {
  display: block;
  clear: both;
  content: "";
}

.card-comments .card-comment:last-of-type {
  border-bottom: 0;
}

.card-comments .card-comment:first-of-type {
  padding-top: 0;
}

.card-comments .card-comment img {
  height: 1.875rem;
  width: 1.875rem;
  float: left;
}

.card-comments .comment-text {
  color: #78838e;
  margin-left: 30px;
}

.comment {
  font-size: 12px !important;
}

.card-comments .username {
  color: #495057;
  display: block;
  font-weight: 600;
}

.card-comments .text-muted {
  font-size: 12px;
  font-weight: 400;
}

.btn-reply {
  font-weight: 500;
}

blockquote {
  background: #f9f9f9;
  border-left: 2px solid #ccc;
  /* border-bottom: 0.5px solid #ccc; */
  margin: 0.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.text-close {
  font-weight: 500;
}