<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <img class="footer__logo mb-3" src="../../assets/images/thyroo.com-white.png">
        <p class="pr-5 text-white-50">
          Thyroo saves you time when you need to search for people to make your business grow faster or develop your
          project or simply share an idea and build a team to make it come true.
        </p>
        <p>
          <a href="https://www.facebook.com/ThyrooApp" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a class="ml-1" href="https://twitter.com/ThyrooApp" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h3 class="mt-lg-0 mt-sm-3 mb-3 text-white-50">Links</h3>
        <ul class="m-0 p-0">
          <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">About us</a></li>
          <li><a [routerLink]="['/legal/privacy-policy']" routerLinkActive="router-link-active">Privacy Policy</a></li>
          <li><a [routerLink]="['/help/faq']" routerLinkActive="router-link-active" >Help</a></li>
          <li><a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" >Create an account</a></li>
          <li><a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Access your account</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h3 class="mt-lg-0 mt-sm-4 mb-3 text-white-50">Contact</h3>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(506) 8357-1533</p>
        <p><i class="far fa-envelope mr-3"></i>contact@thyroo.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <div class="divider"></div>
        <p class="mt-2 rights">
          <span class="text-sm text-white-50 mt-3">
          © 2019. All Rights Reserved.<br>
          <small>Thyroo is developed by <a href="https://dexuscode.com/#/" target="_blank" class="text-white">DexusCode</a></small>
        </span>
      </p>
      </div>
    </div>
  </div>
</div>
