<app-navigation></app-navigation>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>About Thyroo</h1>
      <p class="lead text-muted">
        Thyroo is a web application that connects business people, software developers, architects, or any other
        professional by a strong algorithm avoiding wrong connections, chatting or messaging with people who do not have
        anything in common with. Thyroo saves you time when you need to search for people to make your business grow
        faster or develop your project or simply share an idea and build a team to make it come true. In the future,
        Thyroo will introduce a portal job but as a second face of the project.
      </p>
      <h1>Our Vision</h1>
      <p class="lead text-muted">
        Our vision is connecting effortlessly with the right people and create the right business/economic opportunities
        for anyone.
      </p>
      <h1>Who are we?</h1>
      <p class="lead text-muted">
        Thyroo began in founders Rodolfo A. Calvo's & Michael A. Campos living room in Jan of 2020's and was officially launched on Sep 5,
        2020, under the pressure of the COVID-19 health situation in 2020.
      </p>
      <!-- <img class="img-about" src="../../assets/images/about/thyroo-about.jpg"> -->
    </div>
  </section>
</main>
<footer class="text-muted mt-auto">
  <div class="container text-center">
    <img class="footer__logo mx-auto d-block" src="../../assets/images/Thyroo-logo-full.png">
    <app-help-links></app-help-links>
  </div>
</footer>